# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/

# Environment / secrets (kalau nanti pakai .env)
.env

# SQLite database file
smartmoney.db

# VSCode / IDE
.vscode/
.idea/

# Log files
*.log

# Mac/Windows junk
.DS_Store
Thumbs.db
